body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.todo-wrap-main {
    height: 85vh;
    padding-top: 35px;
}

.todo-wrap {
    height: 85vh;
}

.todo-block {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}

.todo-title {
    background-color: #dcdcdc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.todo-item {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
}

.todo-item:last-child{
    border-bottom:none;
}

.dl-horizontal dt{
    text-align: left!important;
}

.action-btn{
    margin-bottom: 25px;
}